@font-face {
    font-family: "My Custom Font";
    src: url(http://www.example.org/mycustomfont.ttf) format("truetype");
}

body {
    margin: 0;
    padding: 0;
    min-width: 1000px;
    font-family: 'PT Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.sections {
}

.section {

}

.section__inner {
    margin: auto;
    padding: 73px 0 83px;
    max-width: 1366px;
}

.section__header {
    margin: 0 0 68px;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.section_type_intro {
    background: #000 url("i/section_type_intro.png") 50% 0 no-repeat;
}

.section_type_intro .section__inner {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px;
    height: 748px;
    justify-content: space-between;
}

.section_type_intro .head {
    display: flex;
    margin: 30px 3% 0;
    justify-content: space-between;
    align-items: center;
}

.section_type_intro .head > div {
    flex: 1;
}

.section_type_intro .head a {
    margin-right: 35px;
    color: #ffffff;
    font-size: 16px;
}

.section_type_intro .logo {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 34px;
    flex: 0 !important;
}

.section_type_intro .phone-number {
    text-align: right;
}

.section_type_intro .phone-number__value {
    font-size: 22px;
}

.section_type_intro .phone-number__hint {
    color: #999999;
    font-size: 14px;
}

.section_type_intro .body {
    text-align: center;
}

.section_type_intro .body h2 {
    color: #ffffff;
    font-weight: bold;
    font-size: 62px;
}

.section_type_intro .body h2 span {
    display: block;
    margin-top: -13px;
    font-weight: normal;
    font-size: 28px;
}

.section_type_intro .body .buttons {
    display: flex;
    color: #999999;
    font-size: 14px;
    justify-content: center;
}

.section_type_intro .body .buttons div + div {
    margin-left: 20px;
}

.section_type_intro .footer {
    text-align: center;
}

.section_type_intro .details {
    display: inline-block;
    color: #999999;
    font-size: 18px;
}

.section_type_intro .details:after {
    display: block;
    margin: 15px auto;
    width: 24px;
    height: 37px;
    background: url("i/icon_type_arrow.png") 0 0 no-repeat;
    content: '';

}

.section_type_intro .details:hover:after {
    animation-name: details;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.section_type_investment {
    background-color: #fff;
}

.section_type_investment .section__inner {
    margin-top: 68px;
}

.section_type_investment .section__header {
    margin-bottom: 32px;
    color: #333333;
}

.section_type_investment .discount-chart {
    margin: 0 151px 66px;
}

.section_type_investment .icon-list {
    margin-right: 15%;
    margin-bottom: 78px;
    margin-left: 15%;
}

.section_type_investment .icon-list__item {
    margin-right: 1%;
    margin-left: 1%;
    width: 31%;
}

.section_type_investment .icon-list .icon-list__icon {
    margin-bottom: 17px;
}

.section_type_investment .icon-list__text {
    font-weight: bold;
}

.section_type_investment .action {
    color: #999999;
    text-align: center;
    font-size: 16px;
}

.section_type_investment .action .pseudo-btn {
    margin-bottom: 18px;
    border: 0;
    background: linear-gradient(to bottom, #24b987 0%, #1a8f68 100%);
}

.section_type_owners {
    background-color: #fafafa;
}

.section_type_owners .section__inner {
    padding-top: 53px;
}

.section_type_owners .section__header {
    margin-bottom: 42px;
}

.section_type_owners .table {
    display: flex;
    margin: 0 150px;
    justify-content: space-between;
}

.section_type_owners .section__header {
    color: #000;
}

.section_type_owners .icon-list {
    width: 47%;
    margin-right: 2%;
}

.section_type_owners .icon-list__text {
    font-weight: bold;
}

.section_type_owners .form {
    max-width: 400px;
    min-width: 300px;
    flex: 1;
}

.section_type_how-it-works {
    background-color: #fff;
}

.section_type_how-it-works .section__inner {
    padding-top: 69px;
}

.section_type_how-it-works .section__header {
    color: #333333;
}

.section_type_how-it-works .icon-list {
    box-sizing: border-box;
    margin-right: 5%;
    margin-left: 5%;
}

.section_type_how-it-works .icon-list__item {
    width: 20%;
}

.section_type_how-it-works .icon-list__item {
    color: #333333;
}

.section_type_contacts {
    background-color: #28282c;
}

.section_type_contacts .section__inner {
    padding: 56px 0 24px;
}

.section_type_contacts .section__header {
    margin-bottom: 36px;
    color: #ffffff;
}

.section_type_contacts .contacts {
    display: flex;
    margin: 0 0 60px;
    justify-content: center;
    align-items: center;
}

.section_type_contacts .phone-number {
    margin-right: 35px;
    margin-left: 35px;
}

.section_type_contacts .legal {
    display: flex;
    margin: 0 3%;
    color: #666666;
    font-size: 14px;
    justify-content: space-between;
}

.discount-chart {
}

.discount-chart__legend {
    position: relative;
    overflow: hidden;
    margin: 0 0 30px;
    color: #cccccc;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
}

.discount-chart__legend span {
    position: relative;
    z-index: 1;
    padding: 0 30px;
    background: #fff;
}

.discount-chart__legend:before,
.discount-chart__legend:after {
    position: absolute;
    bottom: -15px;
    width: 50%;
    height: 30px;
    border: #ccc solid 0;
    border-radius: 15px;
    content: '';
}

.discount-chart__legend:before {
    left: 0;
    border-top-width: 1px;
}

.discount-chart__legend:after {
    right: 0;
    border-top-width: 1px;
}

.discount-chart__chart {
    display: flex;
    height: 90px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    align-items: stretch;
}

.discount-chart__discount {
    display: flex;
    padding-right: 45px;
    padding-left: 45px;
    border: #24b987 solid 2px;
    border-right: 0;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    color: #333333;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.discount-chart__discount span {
    display: block;
    font-weight: normal;
    font-size: 16px;
}

.discount-chart__cost {
    display: flex;
    margin-left: -45px;
    width: 70%;
    border-radius: 45px;
    background: #308ce9;
    background: linear-gradient(to bottom, #308ce9 0%, #24b987 100%);
    color: #ffffff;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.icon-list {
}

.icon-list__text {
    font-size: 18px;
}

.icon-list_horizontal {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.icon-list_horizontal .icon-list__icon {
    margin: auto;
    margin-bottom: 39px;
}

.icon-list_horizontal .icon-list__text {
    text-align: center;
}

.icon-list_vertical {
}

.icon-list_vertical .icon-list__item {
    display: flex;
    align-items: center;
}

.icon-list_vertical .icon-list__icon {
    margin-right: 34px;
    flex-shrink: 0;
}

.icon-list_vertical .icon-list__item + .icon-list__item {
    margin-top: 39px;
}

.icon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.icon_type_magnifier {
    width: 123px;
    height: 120px;
    background-image: url("i/icon_type_magnifier.png");
}

.icon_type_certificate {
    width: 123px;
    height: 120px;
    background-image: url("i/icon_type_certificate.png");
}

.icon_type_like {
    width: 123px;
    height: 120px;
    background-image: url("i/icon_type_like.png");
}

.icon_type_clock {
    width: 123px;
    height: 120px;
    background-image: url("i/icon_type_clock.png");
}

.icon_type_house {
    width: 123px;
    height: 120px;
    background-image: url("i/icon_type_house.png");
}

.icon_type_document {
    width: 123px;
    height: 120px;
    background-image: url("i/icon_type_document.png");
}

.icon_type_circle {
    width: 102px;
    height: 102px;
    background-image: url("i/icon_type_circle.png");
    text-align: center;
    font-weight: bold;
    font-size: 48px;
    line-height: 102px;
}

.pseudo-btn {
    display: inline-block;
    padding: 1em 2em;
    border: 2px solid #24b987;
    border-radius: 1.5em;
    background: #24b987;
    color: #ffffff;
    text-transform: uppercase;
    white-space: nowrap;
    font-weight: bold;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;
    transition: all .25s ease-out;
}

.pseudo-btn:focus {
    outline: none;
    box-shadow: 0 0 10px #808080;
}

.pseudo-btn_transparent {
    background-color: transparent;
}

.phone-number {
    color: #ffffff;
    font-size: 32px;
}

.phone-number__schedule {
    display: block;
    color: #666666;
    font-size: 14px;
}

.form {
}

.form__caption {
    margin: 0 0 25px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.form__caption span {
    display: block;
    font-weight: normal;
    font-size: 14px;
}

.form__submit {
    text-align: right;
}

.form__submit .pseudo-btn {
    border: 0;
    background: #308ce9;
    background: linear-gradient(to bottom, #308ce9 0%, #2462a0 100%);
}

.input {
    margin: 0 0 20px;
}

.input__control {
    display: block;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 35px;
    width: 100%;
    outline: none;
    border: 1px solid #cccccc;
    border-radius: 30px;
    background: #ffffff;
    font-size: 18px;
    line-height: 1;
    transition: all .25s ease-out;
}

.input__control:focus {
    box-shadow: 0 0 10px #808080;
}

.radio-group {
    margin: 0 0 20px;
}

.radio {
    color: #333333;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}

.radio__label:before {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 100%;
    background: #ffffff;
    color: #fff;
    content: '';
    vertical-align: top;
    text-align: center;
    transition: all .25s ease-out;
}

.radio__control:checked + .radio__label:before {
    border-color: #464646;
    background: #464646;
    content: '✔';
}

.radio + .radio {
    margin-left: 10px;
}

.radio__control {
    position: absolute;
    z-index: -1;
}

.radio__control:focus + .radio__label:before {
    box-shadow: 0 0 10px #808080;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    margin: auto;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all .5s ease-out;
}

.popup_visible {
    display: flex;
    overflow: auto;
    width: 100%;
    height: 100%;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

.popup__paranja {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #000;
    opacity: .5;
}

.popup__window {
    position: relative;
    z-index: 1;
    padding: 35px 40px;
    border-radius: 5px;
    background: #ffffff;
}

.popup__close {
    position: absolute;
    top: -40px;
    right: -40px;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
}

.popup .form {
    width: 400px;
}

@keyframes details {
    0%, 50%, 100% {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    25% {
        margin-bottom: 5px;
        margin-top: 25px;
    }
    75% {
        margin-bottom: 25px;
        margin-top: 5px;
    }
}
